<h2 id='new_post_title'><%= t("forem.post.new") %></h2>

<% if @reply_to %>
<div id='posts'>
  <%= render :partial => 'post', :locals => {:post => @reply_to, :preview => true }%>
</div>
<% else %>
<h3 id='topic_title'><%= @topic.subject %></h3>
<% end %>
